@using OVO.Web.ViewModels.Vehicle
@model VehicleExtendedViewModel

@{
    ViewBag.Title = "Add";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-md-4 margin-left-3">
        <div class="panel panel-success">
            <div class="panel-heading">
                <h3 class="panel-title">Add</h3>
            </div>
            <div class="panel-body">

                @using (@Html.BeginForm("Add", "Vehicle", FormMethod.Post))
                {
                    <p>
                        @Html.LabelFor(x => x.Vehicle.Model.Manufacturer.Name)
                        <select id="manufacturer-select" name="Vehicle.Model.Manufacturer.Id">
                            <option value="default" selected>Select model</option>
                            @foreach (var man in Model.Manufacturers)
                            {
                                <option value="@man.Id">@man.Name</option>
                            }
                        </select>
                        @Html.ValidationMessageFor(x => x.Vehicle.Model.Manufacturer.Name, "", new { @class = "text-danger" })
                    </p>

                    <p>
                        @Html.LabelFor(x => x.Vehicle.Model.Name)
                        <select id="model-select" name="Vehicle.Model.Id">
                            <option value="default" disabled selected>Select model</option>
                            @foreach (var mod in Model.Models)
                            {
                                <option value="@mod.Id" man="@mod.Manufacturer.Id">@mod.Name</option>
                            }
                        </select>
                        @Html.ValidationMessageFor(x => x.Vehicle.Model.Name, "", new { @class = "text-danger" })
                    </p>

                    <p>

                        @Html.LabelFor(x => x.Vehicle.RegNumber)
                        @Html.EditorFor(x => x.Vehicle.RegNumber)
                        @Html.ValidationMessageFor(x => x.Vehicle.RegNumber, "", new { @class = "text-danger" })

                    </p>

                    <p>
                        @Html.LabelFor(x => x.Vehicle.InsuranceDate)
                        @Html.EditorFor(x => x.Vehicle.InsuranceDate)
                        @Html.ValidationMessageFor(x => x.Vehicle.InsuranceDate, "", new { @class = "text-danger" })
                    </p>

                    <p>
                        @Html.LabelFor(x => x.Vehicle.ServiceDate)
                        @Html.EditorFor(x => x.Vehicle.ServiceDate)
                        @Html.ValidationMessageFor(x => x.Vehicle.ServiceDate, "", new { @class = "text-danger" })
                    </p>

                            @Html.AntiForgeryToken();
                    <button type="submit" class="btn btn-success">Add</button>
                }
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
