@using OVO.Web.ViewModels.Vehicle
@model CronJobViewModel

@{
    ViewBag.Title = "AddCronJob";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="span4 margin-left-3">
    <div class="panel panel-success">
        <div class="panel-heading">
            <h3 class="panel-title">@OVO.Web.Resources.Lang.Add</h3>
        </div>
        <div class="panel-body">

            @using (@Html.BeginForm("AddCronJob", "Vehicle", FormMethod.Post))
            {
                <p>
                    @Html.LabelFor(x => x.Name)
                    @Html.EditorFor(x => x.Name)
                    @Html.ValidationMessageFor(x => x.Name, "", new { @class = "text-danger" })
                </p>

                                <p>
                                    @Html.LabelFor(x => x.StartDate)
                                    @Html.EditorFor(x => x.StartDate)
                                    @Html.ValidationMessageFor(x => x.StartDate, "", new { @class = "text-danger" })
                                </p>

                                <p>
                                    @Html.LabelFor(x => x.PeriodInMonths)
                                    @Html.EditorFor(x => x.PeriodInMonths)
                                    @Html.ValidationMessageFor(x => x.PeriodInMonths, "", new { @class = "text-danger" })
                                </p>

                                <p>
                                    @Html.LabelFor(x => x.Description)
                                    @Html.TextAreaFor(x => x.Description)
                                </p>

                                @Html.HiddenFor(x => x.VehicleId)
                                @Html.AntiForgeryToken();
                <button type="submit" class="btn btn-success">@OVO.Web.Resources.Lang.Add</button>
            }
        </div>
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}




