@using OVO.Web.ViewModels.Vehicle
@model VehicleEventViewModel

@{
    ViewBag.Title = "AddVehicleEvent";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-md-4 margin-left-3">
        <div class="panel panel-success">
            <div class="panel-heading">
                <h3 class="panel-title">Add Vehicle Event</h3>
            </div>
            <div class="panel-body">

                @using (@Html.BeginForm("AddVehicleEvent", "Vehicle", FormMethod.Post))
                {
                    <p>
                        @Html.LabelFor(x => x.Name)
                        @Html.EditorFor(x => x.Name)
                    </p>

                    <p>
                        @Html.LabelFor(x => x.Date)
                        @Html.EditorFor(x => x.Date)
                    </p>                   

                    <p>
                        @Html.LabelFor(x => x.Description)
                        @Html.TextAreaFor(x => x.Description)
                    </p>

                    @Html.HiddenFor(x => x.VehicleId)
                    @Html.AntiForgeryToken();
                    <button type="submit" class="btn btn-success">Add Event</button>
                }
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}





