@using OVO.Web.ViewModels.Vehicle
@model VehicleViewModel

@{
    ViewBag.Title = @OVO.Web.Resources.Lang.Delete;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section id="bannerSection" style="background:url(../../Resources/Images/banner/details.png) no-repeat center center #000;">
    <div class="container">
        <h1 id="pageTitle">
            @OVO.Web.Resources.Lang.Delete
        </h1>
    </div>
</section>

<div class="span4 margin-left-3">
    <div class="panel panel-danger">
        <div class="panel-heading">
            <p></p>
        </div>
        <div class="panel-body">

            <p>@OVO.Web.Resources.Lang.AreSure:</p>

            <h4>@OVO.Web.Resources.Lang.Vehicle: @Model.RegNumber - @Model.ManufacturerName @Model.ModelName</h4>

            @using (@Html.BeginForm("Delete", "Vehicle", FormMethod.Post))
            {
                @Html.HiddenFor(x => x.Id)
                @Html.AntiForgeryToken();
                <button type="submit" class="btn btn-danger">@OVO.Web.Resources.Lang.Delete</button>
            }
        </div>
    </div>
</div>