@using OVO.Web.ViewModels.Vehicle
@model VehicleViewModel

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-md-4 margin-left-3">
        <div class="panel panel-warning">
            <div class="panel-heading">
                <h3 class="panel-title">Details</h3>
            </div>
            <div class="panel-body">

                @*@using (@Html.BeginForm("Detils", "Vehicle", FormMethod.Post))
                {
                    <p>
                        @Html.LabelFor(x => x.Model.Manufacturer.Name)
                        @Html.DropDownListFor(x => x.Model.Manufacturer.Id, new SelectList(Model.Manufacturers, "Id", "Name"), new { id = "manufacturer-select" })
                    </p>

                    <p>
                        @Html.LabelFor(x => x.Vehicle.Model.Name)
                        @Html.DropDownListFor(x => x.Vehicle.Model.Id, new SelectList(Model.Models, "Id", "Name"), new { id = "model-select" })
                    </p>

                    <p>
                        @Html.LabelFor(x => x.Vehicle.RegNumber)
                        @Html.EditorFor(x => x.Vehicle.RegNumber)
                    </p>

                    <p>
                        @Html.LabelFor(x => x.Vehicle.InsuranceDate)
                        @Html.EditorFor(x => x.Vehicle.InsuranceDate)
                    </p>

                    <p>
                        @Html.LabelFor(x => x.Vehicle.ServiceDate)
                        @Html.EditorFor(x => x.Vehicle.ServiceDate)
                    </p>

                    @Html.AntiForgeryToken();
                    <button type="submit" class="btn btn-warning">Edit</button>
                }*@
            </div>
        </div>
    </div>
</div>

