@using OVO.Web.ViewModels.Vehicle
@model VehicleExtendedViewModel

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-md-4 margin-left-3">
        <div class="panel panel-warning">
            <div class="panel-heading">
                <h3 class="panel-title">Edit</h3>
            </div>
            <div class="panel-body">

                @using (@Html.BeginForm("Edit", "Vehicle", FormMethod.Post))
                {
                    <p>
                        @Html.LabelFor(x => x.Vehicle.Model.Manufacturer.Name)
                        <select id="manufacturer-select" name="Vehicle.Model.Manufacturer.Id">
                            <option value="default" selected>Select model</option>
                            @foreach (var man in Model.Manufacturers)
                            {
                                <option value="@man.Id"
                                        @if (man.Name == Model.Vehicle.ManufacturerName) { @: selected="selected"
                                                                                }>
                                    @man.Name
                                </option>
                            }
                        </select>
                    </p>

                        <p>
                            @Html.LabelFor(x => x.Vehicle.Model.Name)
                            <select id="model-select" name="Vehicle.Model.Id">
                                <option value="default" disabled selected>Select model</option>
                                @foreach (var mod in Model.Models)
                                {
                                    <option value="@mod.Id" man="@mod.Manufacturer.Id"
                                            @if (mod.Name == Model.Vehicle.ModelName) { @: selected="selected"
                                                                                                                                }>
                                        @mod.Name
                                    </option>
                                }
                            </select>
                        </p>

                        <p>
                            @Html.LabelFor(x => x.Vehicle.RegNumber)
                            @Html.EditorFor(x => x.Vehicle.RegNumber)
                            @Html.ValidationMessageFor(x => x.Vehicle.RegNumber, "", new { @class = "text-danger" })
                        </p>

                        <p>
                            @Html.LabelFor(x => x.Vehicle.InsuranceDate)
                            @Html.EditorFor(x => x.Vehicle.InsuranceDate)
                            @Html.ValidationMessageFor(x => x.Vehicle.InsuranceDate, "", new { @class = "text-danger" })
                        </p>

                        <p>
                            @Html.LabelFor(x => x.Vehicle.ServiceDate)
                            @Html.EditorFor(x => x.Vehicle.ServiceDate)
                            @Html.ValidationMessageFor(x => x.Vehicle.ServiceDate, "", new { @class = "text-danger" })
                        </p>

                        @Html.HiddenFor(x => x.Vehicle.Id);
                    @Html.AntiForgeryToken();
                    <button type="submit" class="btn btn-warning">Edit</button>
                }
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}




