@using OVO.Web.Areas.Administration.ViewModels
@model ManufacturerViewModel

@{
    ViewBag.Title = "Add";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-md-4 margin-left-3">
        <div class="panel panel-success">
            <div class="panel-heading">
                <h3 class="panel-title">Add</h3>
            </div>
            <div class="panel-body">

                @using (@Html.BeginForm("Add", "Manufacturers", FormMethod.Post))
                {
                    @Html.LabelFor(x => x.Name);
                    @Html.EditorFor(x => x.Name);
                    @Html.ValidationMessageFor(x => x.Name, "", new { @class = "text-danger" })

                    @Html.AntiForgeryToken();
                    <button type="submit" class="btn btn-success">Add</button>
                }
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}