@using OVO.Web.Areas.Administration.ViewModels
@using GridMvc.Html
@model ManufacturersListViewModel

@{
    ViewBag.Title = OVO.Web.Resources.Lang.AllManufacturers;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="col-md-8 margin-left-1">
    <div class="panel panel-info">
        <div class="panel-heading">
            <h3 class="panel-title">@OVO.Web.Resources.Lang.AllManufacturers</h3>
        </div>
        <div class="panel-body">

            @Html.ActionLink(@OVO.Web.Resources.Lang.AddManufacturer, "Add", null, new { @class = "btn btn-large btn-info" })

            @Html.Grid(Model.Manufacturers).Columns(columns =>
                       {
                       columns.Add(x => x.Name).Titled(@OVO.Web.Resources.Lang.Manufacturer).SetWidth(200);
                       columns.Add(x => x.IsDeleted).Titled(@OVO.Web.Resources.Lang.IsDeleted).SetWidth(20);
                       columns.Add()
                              .Encoded(false)
                              .Sanitized(false)
                              .SetWidth(50)
                              .RenderValueAs(x => @<div id="edit-btn">@Html.ActionLink(@OVO.Web.Resources.Lang.Edit, "Edit", new { manufacturerId = x.Id }, new { @class = "gridbutton" })</div>);
                       columns.Add()
                            .Encoded(false)
                            .Sanitized(false)
                            .SetWidth(50)
                            .RenderValueAs(x => @<div id="delete-btn">
                                @if (!x.IsDeleted)
                                {
                                    @Html.ActionLink(@OVO.Web.Resources.Lang.Delete, "Delete", new { manufacturerId = x.Id }, new { @class = "gridbutton" })
                                }
                                else
                                {
                                    @Html.ActionLink(@OVO.Web.Resources.Lang.Restore, "Undelete", new { manufacturerId = x.Id }, new { @class = "gridbutton" })
                                }
                            </div>);
                       }).WithPaging(10).Sortable().EmptyText(@OVO.Web.Resources.Lang.NoMan)
        </div>
    </div>
</div>