@using OVO.Web.Areas.Administration.ViewModels
@model ManufacturerViewModel

@{
    ViewBag.Title = @OVO.Web.Resources.Lang.Edit;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="span4 margin-left-3">
    <div class="panel panel-warning">
        <div class="panel-heading">
            <h3 class="panel-title">@OVO.Web.Resources.Lang.Edit</h3>
        </div>
        <div class="panel-body">

            @using (@Html.BeginForm("Edit", "Manufacturers", FormMethod.Post))
            {
                @Html.HiddenFor(x => x.Id)

                @Html.LabelFor(x => x.Name);
                @Html.EditorFor(x => x.Name);
                @Html.ValidationMessageFor(x => x.Name, "", new { @class = "text-danger" })

                @Html.AntiForgeryToken();
                <button type="submit" class="btn btn-warning">@OVO.Web.Resources.Lang.Edit</button>
            }
        </div>
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}