@using OVO.Web.Areas.Administration.ViewModels
@model ManufacturerViewModel

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Edit</h2>

@using (@Html.BeginForm("Edit", "Manufacturers", FormMethod.Post))
{
    @Html.HiddenFor(x => x.Id)
    
    @Html.LabelFor(x => x.Name);
    @Html.EditorFor(x => x.Name);



    @Html.AntiForgeryToken();
    <button type="submit" class="btn btn-info">Edit</button>
}