@model OVO.Web.ViewModels.Account.RegisterViewModel
@{
    ViewBag.Title = @OVO.Web.Resources.Lang.Register;
}

<section id="bannerSection" style="background:url(../../Resources/Images/banner/portfolio.png) no-repeat center center #000;">
    <div class="container">
        <h1 id="pageTitle">
            @OVO.Web.Resources.Lang.Register
        </h1>
    </div>
</section>

<div class="span4 margin-top-1 margin-bottom-1 margin-left-3">
    <div class="thumbnail">
        <img src="../../Resources/Images/3.jpg" alt="bootstrap business templates">


        <div class="panel panel-info">
            <div class="panel-heading">                
            </div>
            <div class="panel-body">
                @using (Html.BeginForm("Register", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                {
                    @Html.AntiForgeryToken()
                    @Html.ValidationSummary("", new { @class = "text-danger" })
                    <div class="form-group">
                        @Html.LabelFor(m => m.Email, new { @class = "col-md-2 control-label" })
                        <div class="col-md-10">
                            @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
                            @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(m => m.Password, new { @class = "col-md-2 control-label" })
                        <div class="col-md-10">
                            @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(m => m.ConfirmPassword, new { @class = "col-md-2 control-label" })
                        <div class="col-md-10">
                            @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-10">
                            <input type="submit" class="btn btn-default" value="@OVO.Web.Resources.Lang.Register" />
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
