@using OVO.Web.Areas.Administration.ViewModels
@using GridMvc.Html
@model UsersListViewModel


@{
    ViewBag.Title = @OVO.Web.Resources.Lang.AllUsers;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div>
    <div class="panel panel-info">
        <div class="panel-heading">
            <h3 class="panel-title">@OVO.Web.Resources.Lang.AllUsers</h3>
        </div>
        <div class="panel-body">

            @Html.Grid(Model.Users).Columns(columns =>
        {
            columns.Add(x => x.Email).Titled(@OVO.Web.Resources.Lang.Email).SetWidth(100);
            columns.Add(x => x.Role).Titled(@OVO.Web.Resources.Lang.Role).SetWidth(50);
            columns.Add(x => x.IsDeleted).Titled(@OVO.Web.Resources.Lang.IsDeleted).SetWidth(20);
            columns.Add(x => x.DeletedOn).Titled("Deletion Date").SetWidth(50);
            columns.Add(x => x.CreatedOn).Titled("Creation Date").SetWidth(50);
            columns.Add(x => x.ModifiedOn).Titled("Modified Date").SetWidth(50);

            columns.Add()
             .Encoded(false)
             .Sanitized(false)
             .SetWidth(50)
             .RenderValueAs(x => @<div id="delete-btn">@Html.ActionLink(@OVO.Web.Resources.Lang.Edit, "Edit", new { userEmail = x.Email }, new { @class = "gridbutton" })</div>);

            columns.Add()
             .Encoded(false)
             .Sanitized(false)
             .SetWidth(50)
             .RenderValueAs(x => @<div id="delete-btn">
                @if (!x.IsDeleted)
                {
                    @Html.ActionLink(@OVO.Web.Resources.Lang.Delete, "Delete", new { userEmail = x.Email }, new { @class = "gridbutton" })
                }
                else
                {
                    @Html.ActionLink(@OVO.Web.Resources.Lang.Restore, "Undelete", new { userEmail = x.Email }, new { @class = "gridbutton" })
                }

            </div>);
        }).WithPaging(10).Sortable().EmptyText(@OVO.Web.Resources.Lang.NoUsers)
        </div>
    </div>
</div>