@using OVO.Web.Areas.Administration.ViewModels
@model UserViewModel

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-md-4 margin-left-3">
        <div class="panel panel-warning">
            <div class="panel-heading">
                <h3 class="panel-title">Edit</h3>
            </div>
            <div class="panel-body">

                @using (@Html.BeginForm("Edit", "Users", FormMethod.Post))
                {
                    <p>
                        @Html.LabelFor(x => x.Role)
                        @Html.DropDownListFor(x => x.Role, new SelectList(Model.Roles, "Name", "Name", Model.Role), new { @class = "form-control" })
                    </p>

                    @Html.HiddenFor(x => x.Email)

                    @Html.AntiForgeryToken();
                    <button type="submit" class="btn btn-warning">Edit</button>
                }
            </div>
        </div>
    </div>
</div>