@using OVO.Web.Areas.Administration.ViewModels
@model ModelViewModel

@{
    ViewBag.Title = "Add";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Add</h2>

@using (@Html.BeginForm("Add", "Models", FormMethod.Post))
{
    <p>
        @Html.LabelFor(x => x.ManufacturerName)
        @Html.DropDownListFor(x => x.ManufacturerName, new SelectList(Model.Manufacturers, "Name", "Name"))
    </p>
   
    @Html.LabelFor(x => x.ModelName);
    @Html.EditorFor(x => x.ModelName);



    @Html.AntiForgeryToken();
    <button type="submit" class="btn btn-success">Add</button>
}