@using OVO.Web.Areas.Administration.ViewModels
@model ModelViewModel

@{
    ViewBag.Title = "Add";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-md-4 margin-left-3">
        <div class="panel panel-success">
            <div class="panel-heading">
                <h3 class="panel-title">Add</h3>
            </div>
            <div class="panel-body">

                @using (@Html.BeginForm("Add", "Models", FormMethod.Post))
                {
                    <p>
                        @Html.LabelFor(x => x.ManufacturerName)
                        @Html.DropDownListFor(x => x.ManufacturerName, new SelectList(Model.Manufacturers, "Name", "Name"))
                    </p>

                    @Html.LabelFor(x => x.ModelName);
                    @Html.EditorFor(x => x.ModelName);



                    @Html.AntiForgeryToken();
                    <button type="submit" class="btn btn-success">Add</button>
                }
            </div>
        </div>
    </div>
</div>