@using OVO.Web.Areas.Administration.ViewModels
@using GridMvc.Html
@model ModelsListViewModel

@{
    ViewBag.Title = @OVO.Web.Resources.Lang.AllModels;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="span8 margin-left-1">
    <div class="panel panel-info">
        <div class="panel-heading">
            <h3 class="panel-title">@OVO.Web.Resources.Lang.AllModels</h3>
        </div>
        <div class="panel-body">

            @Html.ActionLink(@OVO.Web.Resources.Lang.AddModel, "Add", null, new { @class = "btn btn-large btn-info" })

            @Html.Grid(Model.Models).Columns(columns =>
        {
            columns.Add(x => x.ManufacturerName).Titled(@OVO.Web.Resources.Lang.Manufacturer).SetWidth(200);
            columns.Add(x => x.ModelName).Titled(@OVO.Web.Resources.Lang.Model).SetWidth(200);
            columns.Add(x => x.IsDeleted).Titled(@OVO.Web.Resources.Lang.IsDeleted).SetWidth(20);
            columns.Add()
       .Encoded(false)
       .Sanitized(false)
       .SetWidth(50)
       .RenderValueAs(x => @<div id="edit-btn">@Html.ActionLink(@OVO.Web.Resources.Lang.Edit, "Edit", new { modelId = x.Id }, new { @class = "gridbutton" })</div>);
        columns.Add()
             .Encoded(false)
             .Sanitized(false)
             .SetWidth(50)
             .RenderValueAs(x => @<div id="delete-btn">
                @if (!x.IsDeleted)
                {
                    @Html.ActionLink(@OVO.Web.Resources.Lang.Delete, "Delete", new { modelId = x.Id }, new { @class = "gridbutton" })
                }
                else
                {
                    @Html.ActionLink(@OVO.Web.Resources.Lang.Restore, "Undelete", new { modelId = x.Id }, new { @class = "gridbutton" })
                }

            </div>);
        }).WithPaging(10).Sortable().EmptyText(@OVO.Web.Resources.Lang.NoMod)
        </div>
    </div>
</div>