@using OVO.Web.Areas.Administration.ViewModels
@using GridMvc.Html
@model ModelsListViewModel

@{
    ViewBag.Title = "All";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-md-8 margin-left-1">
        <div class="panel panel-info">
            <div class="panel-heading">
                <h3 class="panel-title">All</h3>
            </div>
            <div class="panel-body">

                @Html.ActionLink("Add New Model", "Add", null, new { @class = "btn btn-large btn-info" })

                @Html.Grid(Model.Models).Columns(columns =>
        {
            columns.Add(x => x.ManufacturerName).Titled("Manufacturer").SetWidth(200);
            columns.Add(x => x.ModelName).Titled("Model").SetWidth(200);
            columns.Add(x => x.IsDeleted).Titled("IsDeleted").SetWidth(20);
            columns.Add()
       .Encoded(false)
       .Sanitized(false)
       .SetWidth(50)
       .RenderValueAs(x => @<div id="edit-btn">@Html.ActionLink("Edit", "Edit", new { modelId = x.Id }, new { @class = "gridbutton" })</div>);
        columns.Add()
             .Encoded(false)
             .Sanitized(false)
             .SetWidth(50)
             .RenderValueAs(x => @<div id="delete-btn">
                @if (!x.IsDeleted)
                {
                    @Html.ActionLink("Delete", "Delete", new { modelId = x.Id }, new { @class = "gridbutton" })
                }
                else
                {
                    @Html.ActionLink("Undelete", "Undelete", new { modelId = x.Id }, new { @class = "gridbutton" })
                }

            </div>);
        }).WithPaging(10).Sortable().EmptyText("No available Models!")
            </div>
        </div>
    </div>
</div>