@using OVO.Web.Areas.Administration.ViewModels
@model ModelViewModel

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Edit</h2>

@using (@Html.BeginForm("Edit", "Models", FormMethod.Post))
{
    @Html.HiddenFor(x => x.Id)

    @Html.LabelFor(x => x.ModelName);
    @Html.EditorFor(x => x.ModelName);
    
    @Html.AntiForgeryToken();
    <button type="submit" class="btn btn-info">Edit</button>
}