<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    <header>
        <nav>
            <div class="navbar navbar-default navbar-static-top" role="navigation">
                <div class="container">
                    @Html.Partial("_LoginPartial")
                </div>
            </div>
        </nav>

        <nav class="navbar navbar-default navbar-static-top" role="navigation">
            <div class="navigation">
                <div class="container">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <a href="/" class="navbar-brand"><img src="~/logo.png" width="100" /></a>
                        <div id="app-name">@OVO.Web.Resources.Lang.AppName</div>
                    </div>

                    <div id="navbar" class="navbar-collapse collapse">
                        <div class="menu">
                            <ul class="nav nav-tabs" role="tablist">
                                <li>@Html.ActionLink(OVO.Web.Resources.Lang.Home, "Index", "Home")</li>
                                <li>@Html.ActionLink(OVO.Web.Resources.Lang.Contact, "Contact", "Home")</li>
                                <li>
                                    <div class="btn-group">
                                        <button type="button" class="btn btn-primary">@OVO.Web.Resources.Lang.Language</button>
                                        <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
                                            <span class="caret"></span>
                                        </button>
                                        <ul class="dropdown-menu" role="menu">
                                            <li>@Html.ActionLink(OVO.Web.Resources.Lang.English, "Change", "Language", new { languageAbbreviation = "en" }, null)</li>
                                            <li>@Html.ActionLink(OVO.Web.Resources.Lang.Bulgarian, "Change", "Language", new { languageAbbreviation = "bg" }, null)</li>
                                        </ul>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </nav>
    </header>

    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>            
            <div >
                <div class="container">
                    <div class="row">
                        <div class="col-md-4 f-contact copyright">
                            <p>&copy; @DateTime.Now.Year - @OVO.Web.Resources.Lang.AppName</p>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/custom-theme")

    @RenderSection("scripts", required: false)
</body>
</html>