<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - @OVO.Web.Resources.Lang.AppName</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <header>
        <section id="headerSection">
            <div class="container">
                <div class="navbar">
                    <div class="container">
                        <button type="button" class="btn btn-navbar active" data-toggle="collapse" data-target=".nav-collapse">
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <a class="brand" href="/">
                            <img id="logo" src="~/logo.png" width="100" />
                            <h1>@OVO.Web.Resources.Lang.AppName</h1>
                        </a>
                        <div class="nav-collapse collapse">  
                            <div id="loginPanel">@Html.Partial("_LoginPartial")</div>                          
                            <ul class="nav pull-right">
                                @if (User.Identity.IsAuthenticated && User.IsInRole("User"))
                                {
                                    <li>@Html.ActionLink(OVO.Web.Resources.Lang.MyVehicles, "All", "Vehicle")</li>
                                }
                                else if (User.Identity.IsAuthenticated && User.IsInRole("Admin"))
                                {
                                    <li class="dropdown">
                                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">@OVO.Web.Resources.Lang.AdminMenu<b class="caret"></b></a>
                                        <ul class="dropdown-menu">
                                            <li>@Html.ActionLink(OVO.Web.Resources.Lang.Manufacturers, "All", "Manufacturers", new { area = "Administration" }, null)</li>
                                            <li>@Html.ActionLink(OVO.Web.Resources.Lang.Models, "All", "Models", new { area = "Administration" }, null)</li>
                                            <li>@Html.ActionLink(OVO.Web.Resources.Lang.Users, "All", "Users", new { area = "Administration" }, null)</li>
                                        </ul>
                                    </li>
                                }

                                <li class="active">@Html.ActionLink(@OVO.Web.Resources.Lang.Home, "Index", "Home", new { area = string.Empty }, null)</li>
                                <li class="">@Html.ActionLink(@OVO.Web.Resources.Lang.Chat, "Chat", "Home", new { area = string.Empty }, null)</li>
                                <li class="">@Html.ActionLink(@OVO.Web.Resources.Lang.Contact, "Contact", "Home", new { area = string.Empty }, null)</li>
                                
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </header>

    <section id="bodySection">
        <div class="container body-content">
            <div class="row">
                <div class="span12" style='text-align:center'>
                    @RenderBody()
                </div>
            </div>
        </div>
    </section>

    <footer>
        <div class="container">
            <section id="footerSection">
                <p>&copy; @DateTime.Now.Year - @OVO.Web.Resources.Lang.AppName </p>
            </section>
        </div>
    </footer>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")

    @RenderSection("scripts", required: false)
    
</body>
</html>