@using Microsoft.AspNet.Identity

@Html.Partial("_LanguageSelectorPartial")

@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", new { area = string.Empty }, FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
        @Html.AntiForgeryToken()

        <div id="loginGroup">
            @Html.ActionLink(@OVO.Web.Resources.Lang.Hello + " " + User.Identity.GetUserName() + "!", "Index", "Manage", routeValues: new { area = string.Empty }, htmlAttributes: new { title = "Manage" })
            <a href="javascript:document.getElementById('logoutForm').submit()">@OVO.Web.Resources.Lang.Logout</a>
        </div>
    }
}
else
{
    <div id="loginGroup" class="btn-group toolTipgroup">
        @Html.ActionLink(OVO.Web.Resources.Lang.Register, "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink", @class = "btn" })
        @Html.ActionLink(OVO.Web.Resources.Lang.Login, "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink", @class = "btn" })
    </div>
}
