@{
    ViewBag.Title = @OVO.Web.Resources.Lang.Contact;
}

<section id="bannerSection" style="background:url(../../Resources/Images/banner/aboutus.png) no-repeat center center #000;">
    <div class="container">
        <h2 id="pageTitle">@OVO.Web.Resources.Lang.Contact</h2>
    </div>
</section>


<div class="span4 margin-top-1 margin-bottom-1 margin-left-3">
    <div class="thumbnail">
        <h4>@OVO.Web.Resources.Lang.ContactDesc</h4>
        <img src="../../Resources/Images/1.jpg" alt="bootstrap business templates">
        <p>
            <div class="media-body">
                <span>@OVO.Web.Resources.Lang.Me</span>
            </div>
            <div class="media-body">
                <span>@OVO.Web.Resources.Lang.Github: </span>
                <a href="https://github.com/jorosoft/OnlineVehicleOrganizer">jorosoft</a>
            </div>
        </p>
    </div>
</div>